<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Edit Task</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">
	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>
    <div class="card"> 
    	<div class="card-header">
			Edit Task
		</div>
        <div class="card-body">
            <form action="/task/update/<%= id %>" method="post">
                <div class="form-group">
                    <label>Task Name:</label>
                    <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>start Date:</label>
                    <input type="date" class="form-control" name="startdate" value="<%= startdate %>" autocomplete="off">
                </div>
				<div class="form-group">
                    <label>End Date:</label>
                    <input type="date" class="form-control" name="enddate" value="<%= enddate %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Assign To:</label>
                    <input type="text" class="form-control" name="assign" value="<%= assign %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Description :</label>
                    <input type="text" class="form-control" name="description" value="<%= description %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Update"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>